
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', serif;
    overflow: hidden;
    background-color: black; /* Setting background color to black to avoid white bezels */
}

.video-background {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-foreground {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

video {
    width: 100%; 
    height: auto;
    max-height: 100%;
}

.details-page {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.action-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease-in-out, background-color 2s ease-in-out;
    animation: breathe 5s infinite alternate;
}

@keyframes breathe {
    0% { background-color: #6200ea; }
    50% { background-color: #03dac6; }
    100% { background-color: #bb86fc; }
}
