
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    background-image: url('Backround for Info Page .png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.text-part1, .text-part2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 20px;
    display: none;
}

.text-part1 {
    display: block;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.arrows img {
    width: 50px;
    height: 50px;
}
