
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0b3d91;  /* Setting a background color that matches the dominant color in the image */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-text {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;  /* Increased font size */
    text-align: center;
    color: white;
    animation: fadeIn 5s;
}

.second-text {
    display: none;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;  /* Increased font size */
    text-align: center;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
