
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', serif;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-foreground {
    background: url(Untitled.png) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

video {
    width: 100%; 
    height: auto;
    max-width: none;
}

.loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
